<?xml version="1.0"?>
<!--
/**
 * PRWD Auto Shipping Module
 *
 * NOTICE OF LICENSE
 *
  Copyright (C) 2009 PRWD (http://www.prwd.co.uk)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
-->
<config>
    <modules>
        <IntegerNet_Autoshipping>
            <version>0.1.0</version>
        </IntegerNet_Autoshipping>
    </modules>
    <global>
        <helpers>
            <autoshipping>
                <class>IntegerNet_Autoshipping_Helper</class>
            </autoshipping>
        </helpers>

        <models>
            <autoshipping>
                <class>IntegerNet_Autoshipping_Model</class>
            </autoshipping>
        </models>

        <blocks>
            <autoshipping>
                <class>IntegerNet_Autoshipping_Block</class>
            </autoshipping>
        </blocks>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_postdispatch_sales_order_reorder>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </controller_action_postdispatch_sales_order_reorder>
            <controller_action_postdispatch_checkout_cart_delete>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </controller_action_postdispatch_checkout_cart_delete>
            <controller_action_predispatch>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>checkCountry</method>
                    </autoshipping>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_before>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>autoshipping/observer</class>
                        <method>beforeBlockToHtml</method>
                    </autoshipping>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <IntegerNet_Autoshipping>
                    <files>
                        <default>IntegerNet_Autoshipping.csv</default>
                    </files>
                </IntegerNet_Autoshipping>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <autoshipping>
                                            <title>Auto Shipping</title>
                                        </autoshipping>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <IntegerNet_Autoshipping>
                    <files>
                        <default>IntegerNet_Autoshipping.csv</default>
                    </files>
                </IntegerNet_Autoshipping>
            </modules>
        </translate>

        <routers>
            <autoshipping>
                <use>standard</use>
                <args>
                    <module>IntegerNet_Autoshipping</module>
                    <frontName>autoshipping</frontName>
                </args>
            </autoshipping>
        </routers>
    </frontend>

    <default>
        <autoshipping>
            <settings>
                <show_country_selection_in_cart>1</show_country_selection_in_cart>
            </settings>
        </autoshipping>
    </default>
</config>
